
html {
  --general-grey: #F6F3E3;
  --secondary-grey: #EFE7BE;
  --dark-grey: #BFBDB2;
  --black: #241D1C;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--black);
  color: var(--general-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}
