.container {
    /*display: none;*/
    position: relative;
    overflow: hidden;
}
.slider_list {
    display: flex;
    margin: 0 -16px;
}
.slider_item{
    padding: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
}
.next_slide {
    padding: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
}
.active_slide {
    padding: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 50%;
}
.last_slide {
    padding: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
}

